<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.itifrd.mapper.TeacherMapper">

    <select id="selectTeacherById" resultType="top.itifrd.pojo.Teacher">
        select * from teacher,student where teacher.id = student.teacher_id;
    </select>
</mapper>